
.fundo{
	background-position: no-repeat center;
	background-size: cover;
	border: none;
	backgound-attachment: scroll;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100em;
	width: 100em;
}
.MenuFoto{
	position: fixed;
	left: -10px;
	height: 205px;
	width: 222px;
 }
 em{
	color: #FF4400;
	font-size: 30px;
	position: fixed;
	right: 250px;
	top: 45px;
	
 }
 em:hover{
	text-decoration: underline;
	font-size: 35px;
	top: 35px;
	right: 230px;
 }
h1{
	position: fixed;
	top: 65px;
	left: 230px;
	font-size: 65px;
	line-height: 0em;
  }
  h1:hover{
	  text-transform: capitalize;
	  color: white;
	  text-shadow: 2px 3px red;
  }
h2{
	color: #003300;
	right: 130px;
	top: 325px;
	position: fixed;
 }
 h2:hover{
	color: red;
}
 h3{
	color: white;
	position: fixed;
	bottom: 280px;
	left: 450px;
	font-size: 46px;
 }
 h3:hover{
	color: #FF9933;
	left: 380px;
	bottom: 275px;
	text-transform: uppercase;
	text-shadow: 2px 2px blue;
	
 }
h4{
	text-overflow: ellipsis;
	background-color: grey;
	color: white;
	position: fixed;
	bottom: -40px;
	right: 0px;
	border: 13px double #33FFFF;
	font-style: italic;
	font-size: 40px;
	padding: 10px;
	text-align: center;
  }
.imagem{
	position: fixed;
	top: 25px;
	right: 50px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
  }
 .imagem:hover{
	border-radius: 20px;
	top: 10px;
	right: 40px;
	width: 80px;
	height: 80px;
 }
.imagem1{
	position: fixed;
	top: 25px;
	right: 150px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
  }
 .imagem1:hover{
	border-radius: 0px;
	top: 10px;
	right: 140px;
	width: 80px;
	height: 80px;
 }
.foto{
	position: fixed;
	left: 5px;
	width: 200px;
	height: 200px;
	border-radius: 0px 50px;
  }
.foto:hover{
	border-radius: 50px 0px;
}
